.base {
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: var(--leading-normal);
  user-select: none;

  &:has(+ :disabled),
  &:has(+ [data-disabled]) {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
