:root {
  --background: oklch(100% 0 0deg);
  --foreground: oklch(25.54% 0.0212 66.6369deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(25.54% 0.0212 66.6369deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(25.54% 0.0212 66.6369deg);
  --primary: oklch(87.82% 0.0877 66.2699deg);
  --primary-foreground: oklch(34.79% 0.0543 66.4615deg);
  --secondary: oklch(96.02% 0.0171 67.6216deg);
  --secondary-foreground: oklch(43.08% 0.0323 68.6158deg);
  --muted: oklch(96.99% 0.0076 61.4535deg);
  --muted-foreground: oklch(55.29% 0.0278 71.1832deg);
  --accent: oklch(97.52% 0.0171 67.6255deg);
  --accent-foreground: oklch(34.79% 0.0543 66.4615deg);
  --destructive: oklch(63.68% 0.2078 25.3313deg);
  --destructive-foreground: oklch(100% 0 0deg);
  --border: oklch(93.64% 0.0163 64.6653deg);
  --input: oklch(93.64% 0.0163 64.6653deg);
  --ring: oklch(87.82% 0.0877 66.2699deg);
  --chart-1: oklch(87.82% 0.0877 66.2699deg);
  --chart-2: oklch(81.29% 0.0806 66.2848deg);
  --chart-3: oklch(72% 0.0909 65.5324deg);
  --chart-4: oklch(75% 0.0861 65.2985deg);
  --chart-5: oklch(94.82% 0.0441 88.5293deg);
  --sidebar: oklch(100% 0 0deg);
  --sidebar-foreground: oklch(34.79% 0.0543 66.4615deg);
  --sidebar-primary: oklch(87.82% 0.0877 66.2699deg);
  --sidebar-primary-foreground: oklch(34.79% 0.0543 66.4615deg);
  --sidebar-accent: oklch(96.02% 0.0171 67.6216deg);
  --sidebar-accent-foreground: oklch(34.79% 0.0543 66.4615deg);
  --sidebar-border: oklch(93.64% 0.0163 64.6653deg);
  --sidebar-ring: oklch(87.82% 0.0877 66.2699deg);
  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: 0px 4px 12px 0px hsl(0deg 0 0 / 2%);
  --shadow-xs: 0px 4px 12px 0px hsl(0deg 0 0 / 2%);
  --shadow-sm: 0px 4px 12px 0px hsl(0deg 0 0 / 4%), 0px 1px 2px -1px hsl(0deg 0 0 / 4%);
  --shadow: 0px 4px 12px 0px hsl(0deg 0 0 / 4%), 0px 1px 2px -1px hsl(0deg 0 0 / 4%);
  --shadow-md: 0px 4px 12px 0px hsl(0deg 0 0 / 4%), 0px 2px 4px -1px hsl(0deg 0 0 / 4%);
  --shadow-lg: 0px 4px 12px 0px hsl(0deg 0 0 / 4%), 0px 4px 6px -1px hsl(0deg 0 0 / 4%);
  --shadow-xl: 0px 4px 12px 0px hsl(0deg 0 0 / 4%), 0px 8px 10px -1px hsl(0deg 0 0 / 4%);
  --shadow-2xl: 0px 4px 12px 0px hsl(0deg 0 0 / 10%);

  @media (prefers-color-scheme: dark) {
    --background: oklch(16.07% 0.0054 67.432deg);
    --foreground: oklch(96.99% 0.0076 61.4535deg);
    --card: oklch(20.7% 0.0075 67.3916deg);
    --card-foreground: oklch(96.99% 0.0076 61.4535deg);
    --popover: oklch(20.7% 0.0075 67.3916deg);
    --popover-foreground: oklch(96.99% 0.0076 61.4535deg);
    --primary: oklch(87.82% 0.0877 66.2699deg);
    --primary-foreground: oklch(23.48% 0.035 61.0165deg);
    --secondary: oklch(26.53% 0.0128 62.0432deg);
    --secondary-foreground: oklch(96.99% 0.0076 61.4535deg);
    --muted: oklch(23.9% 0.0121 67.194deg);
    --muted-foreground: oklch(68.07% 0.0242 67.4019deg);
    --accent: oklch(31.98% 0.0289 66.4858deg);
    --accent-foreground: oklch(87.82% 0.0877 66.2699deg);
    --destructive: oklch(44.37% 0.1613 26.8994deg);
    --destructive-foreground: oklch(100% 0 0deg);
    --border: oklch(26.53% 0.0128 62.0432deg);
    --input: oklch(26.53% 0.0128 62.0432deg);
    --ring: oklch(87.82% 0.0877 66.2699deg);
    --chart-1: oklch(87.82% 0.0877 66.2699deg);
    --chart-2: oklch(77.95% 0.1051 64.7742deg);
    --chart-3: oklch(69.79% 0.1074 64.454deg);
    --chart-4: oklch(61.57% 0.1105 63.4333deg);
    --chart-5: oklch(53.09% 0.1105 61.2739deg);
    --sidebar: oklch(18.01% 0.0078 67.2987deg);
    --sidebar-foreground: oklch(96.99% 0.0076 61.4535deg);
    --sidebar-primary: oklch(87.82% 0.0877 66.2699deg);
    --sidebar-primary-foreground: oklch(23.48% 0.035 61.0165deg);
    --sidebar-accent: oklch(23.9% 0.0121 67.194deg);
    --sidebar-accent-foreground: oklch(87.82% 0.0877 66.2699deg);
    --sidebar-border: oklch(26.53% 0.0128 62.0432deg);
    --sidebar-ring: oklch(87.82% 0.0877 66.2699deg);
    --shadow-2xs: 0px 10px 20px 0px hsl(0deg 0 0 / 20%);
    --shadow-xs: 0px 10px 20px 0px hsl(0deg 0 0 / 20%);
    --shadow-sm: 0px 10px 20px 0px hsl(0deg 0 0 / 40%), 0px 1px 2px -1px hsl(0deg 0 0 / 40%);
    --shadow: 0px 10px 20px 0px hsl(0deg 0 0 / 40%), 0px 1px 2px -1px hsl(0deg 0 0 / 40%);
    --shadow-md: 0px 10px 20px 0px hsl(0deg 0 0 / 40%), 0px 2px 4px -1px hsl(0deg 0 0 / 40%);
    --shadow-lg: 0px 10px 20px 0px hsl(0deg 0 0 / 40%), 0px 4px 6px -1px hsl(0deg 0 0 / 40%);
    --shadow-xl: 0px 10px 20px 0px hsl(0deg 0 0 / 40%), 0px 8px 10px -1px hsl(0deg 0 0 / 40%);
    --shadow-2xl: 0px 10px 20px 0px hsl(0deg 0 0 / 100%);
  }
}

html,
body {
  max-inline-size: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-color: var(--border);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
